.greetings-container{
    display: flex;
    justify-content: center;
    background-color: rgb(48, 48, 48);
    padding: 13px;
}

h2{
    font-size: 25px;
    color: white;
}

.item-count{
    display: flex;
    justify-content: center;
    padding: 10px;
}

.Agregar-al-carrito{
    margin: 20px;
}

.button-count{
    padding: 30px;
}

